
<iframe src="https://www.youtube.com/embed/Di310WS8zLk?autoplay=1&mute=1" frameborder="0"></iframe>

<!-- <div class="main-div">
    <div class="header-div">
        <h1 class="heading">Wednesday</h1>
        <p  class="heading-data">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio explicabo nostrum placeat voluptate dolorum laborum! Molestiae quis eos doloribus aliquam expedita natus nihil modi, ducimus, quia distinctio, commodi cumque sequi?</p>
    </div>
    <div class="butto-div">
        <button class="play">Play</button>
        <button class="more-info">More Info</button>
    </div>
</div> -->
