<main>
    <app-header [userImg]="userProfileImg"></app-header>
    <app-banner></app-banner>
    <app-movie-data [videoContents]="movies" [title]="'Popular Movies'"></app-movie-data>
    <app-movie-data [videoContents]="topRated" [title]="'Top Rated'"></app-movie-data>
    <app-movie-data [videoContents]="popularMovies" [title]="'Originals'"></app-movie-data>
    <app-movie-data [videoContents]="tvShows" [title]="'Popular TV Shows'"></app-movie-data>
    <app-movie-data [videoContents]="ratedMovies" [title]="'Highly Recommended'"></app-movie-data>

</main>
